.Task {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 16px;
    padding-top: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid #BBBBBB;
}

.Information {
    flex: 1;
}

.TaskControls > .Button {
    margin-right: 8px;
}

.TaskControls > .Button:last-child {
    margin-right: 0 !important;
}